.header {
    padding: 30px 0;
}

@media (max-width: 1024px){
    .header .headerContainer {
        margin: auto;
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
}

.header .headerLogo i::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9.375C5 8.87772 5.19754 8.40081 5.54917 8.04917C5.90081 7.69754 6.37772 7.5 6.875 7.5H33.125C33.6223 7.5 34.0992 7.69754 34.4508 8.04917C34.8025 8.40081 35 8.87772 35 9.375C35 9.87228 34.8025 10.3492 34.4508 10.7008C34.0992 11.0525 33.6223 11.25 33.125 11.25H6.875C6.37772 11.25 5.90081 11.0525 5.54917 10.7008C5.19754 10.3492 5 9.87228 5 9.375ZM5 19.375C5 18.8777 5.19754 18.4008 5.54917 18.0492C5.90081 17.6975 6.37772 17.5 6.875 17.5H33.125C33.6223 17.5 34.0992 17.6975 34.4508 18.0492C34.8025 18.4008 35 18.8777 35 19.375C35 19.8723 34.8025 20.3492 34.4508 20.7008C34.0992 21.0525 33.6223 21.25 33.125 21.25H6.875C6.37772 21.25 5.90081 21.0525 5.54917 20.7008C5.19754 20.3492 5 19.8723 5 19.375ZM5 29.375C5 28.8777 5.19754 28.4008 5.54917 28.0492C5.90081 27.6975 6.37772 27.5 6.875 27.5H33.125C33.6223 27.5 34.0992 27.6975 34.4508 28.0492C34.8025 28.4008 35 28.8777 35 29.375C35 29.8723 34.8025 30.3492 34.4508 30.7008C34.0992 31.0525 33.6223 31.25 33.125 31.25H6.875C6.37772 31.25 5.90081 31.0525 5.54917 30.7008C5.19754 30.3492 5 29.8723 5 29.375Z' fill='%23F8F8F8'/%3E%3C/svg%3E%0A");
}

@media (max-width: 1024px){
    .header .headerSearch {
        display: flex;
        align-items: flex-end;
    }
}

.header .headerSearch label::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8333 23.3333H24.5167L24.05 22.8833C25.7398 20.9234 26.6685 18.4212 26.6667 15.8333C26.6667 13.6907 26.0313 11.5962 24.8409 9.81466C23.6505 8.03313 21.9586 6.64459 19.9791 5.82464C17.9995 5.00469 15.8213 4.79016 13.7199 5.20816C11.6184 5.62617 9.68808 6.65795 8.17301 8.17301C6.65795 9.68808 5.62617 11.6184 5.20816 13.7199C4.79016 15.8213 5.00469 17.9995 5.82464 19.9791C6.64459 21.9586 8.03313 23.6505 9.81466 24.8409C11.5962 26.0313 13.6907 26.6667 15.8333 26.6667C18.5167 26.6667 20.9833 25.6833 22.8833 24.05L23.3333 24.5167V25.8333L31.6667 34.15L34.15 31.6667L25.8333 23.3333ZM15.8333 23.3333C11.6833 23.3333 8.33334 19.9833 8.33334 15.8333C8.33334 11.6833 11.6833 8.33334 15.8333 8.33334C19.9833 8.33334 23.3333 11.6833 23.3333 15.8333C23.3333 19.9833 19.9833 23.3333 15.8333 23.3333Z' fill='%23F8F8F8'/%3E%3C/svg%3E%0A");
    position: relative;
    top: 3px;
}

.header .headerSearch input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #434242;
    padding-bottom: 3px;
    font-size: 16px;
    color: #fff;
    outline: none;
}